# Configuration file template for P-GW

IPADDR_S5PGW="10.0.0.1"
IPADDR_GTPU="10.0.0.2"
IPADDR_IPUE_NETW="172.30.0.0"
IPADDR_IPUE_MASK="255.255.255.0"
IPADDR_IPUE_CIDR="172.30.0.0/24"
SGI_TCP_MSS="1320"
SGI_GW="192.168.253.249"
