[Unit]
Description=Packet Data Network Gateway (P-GW)

[Service]
Type=simple
EnvironmentFile=/etc/cumucore/pgw.cfg
ExecStart=/usr/bin/nwLteSaeGw --pgw-s5-ip ${IPADDR_S5PGW} --gtpu-ip ${IPADDR_GTPU} --sgi-if ${SGI0B} --ippool-subnet ${IPADDR_IPUE_NETW} --ippool-mask ${IPADDR_IPUE_MASK}
Restart=on-failure

[Install]
WantedBy=multi-user.target
