[Unit]
Description=Serving Gateway (S-GW)

[Service]
Type=simple
EnvironmentFile=/etc/cumucore/sgw.cfg
ExecStart=/usr/bin/nwLteSaeGw --sgw-s11-ip ${IPADDR_S11SGW} --sgw-s5-ip ${IPADDR_S5SGW} --gtpu-ip ${IPADDR_GTPU}
Restart=on-failure

[Install]
WantedBy=multi-user.target
