**/.deps/
**/.libs/
**/.dirstamp
*.o
*.lo
*.la
*.a
*.m4
*.log
**/Makefile
**/Makefile.in
autom4te.cache/
r-lib
config.guess
config.sub
libtool
ltmain.sh
compile
depcomp
ar-lib
missing
install-sh
configure
config.status
nw-event/test-app/event-test
nw-event/test-app/time-test
nw-gre/test-app/nw-helloworld/helloworld
nw-gtpv1u/test-app/nw-helloworld/helloworld
nw-gtpv2c/test-app/nw-egtping/egtping
nw-gtpv2c/test-app/nw-helloworld/helloworld
nw-ipv4/test-app/nw-helloworld/helloworld
nw-mme-emu/nwLteMmeEmu
nw-sae-gw/nwLteSaeGw
nw-sdp/test-app/nw-helloworld/helloworld
GPATH
GRTAGS
GTAGS